__pycache__/
*.py[cod]
.pytest_cache/
.venv/
*.egg-info/
build/
dist/
.coverage
.mypy_cache/
.ruff_cache/
.idea/
.vscode/
data/**/*.bin
data/**/*.json
data/**/*.tmp
checkpoints/**/*.pt
checkpoints/**/wandb/
wandb/
logs/
